* {
    box-sizing: border-box;
    font: 1rem sans-serif;
}

#page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

main {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    /* min-height: 50%; */
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
}

body {
    margin: 0;
}

label {
    justify-self: end;
}

.users,
.user {
    border: 1px solid #444;
    padding: 0.2rem;
}

.users {
    margin: 0.5rem 1rem;
}

.user {
    margin: 0.2rem 0;
    position: relative;
    padding: 0.5rem;
    min-height: calc(4rem + 2rem);
    display: flex;
    flex-direction: row;
}
form.user {
    flex-direction: column;
}

form label {
    min-width: 15rem;
    text-align: right;
    display: inline-block;
    margin: 0.25rem;
}
form label::after {
    content: ': ';
}
.user.me .username::after {
    content: ' ← that’s me!';
    margin-left: 1rem;
    font-size: smaller;
}

.user .data {
    flex-grow: 1;
}

.user .controls {
    flex-grow: 0;
    margin-left: 0.5rem;
}
.user img {
    max-width: 4rem;
    max-height: 4rem;
    border: 1px solid #444;
    margin-right: 0.5rem;
}

.field {
    margin: 0;
    display: block;
}
.field .key::after {
    content: ': ';
}
form .error {
    color: #a00;
}

.user .more {
    display: none;
}

.user.open .more {
    display: block;
}

.color-sample {
    border: 1px solid black;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
}

form.signup,
form.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #eee;
    width: max-content;
    border-radius: 0.5rem;
    height: auto;
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup .form-field,
.login .form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 250px;
}

form.signup label,
form.login label {
    text-align: left;
    margin: 0.5rem;
}

input,
textarea {
    margin: 0.5rem;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

form .error,
.error {
    color: #a00;
    font-size: 12px;
    word-wrap: break-word;
    padding: 2px;
    border-radius: 0.25rem;
    text-align: center;
    width: 100%;
    margin-block: 2px;
}

form > h1 {
    font-size: large;
    font-weight: bold;
}

button {
    --button-color: #eee;
    --button-text: #333;
    --button-hover-color: #ddd;

    background-color: var(--button-color);
    color: var(--button-text);
    border: 1px solid #eee;
    border-radius: 0.5rem;
    padding: 0.5em;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out, filter 0.3s ease-in-out, scale 0.3s ease-in-out;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: var(--button-hover-color);
}

button:active {
    filter: brightness(0.9);
    scale: 0.95;
}

button[data-action='add_request'],
button[data-action='accept_request'] {
    --button-color: rgb(61, 122, 169);
    --button-text: #fff;
    --button-hover-color: rgb(58, 107, 147);
}

button[data-action='cancel_request'] {
    --button-color: rgb(200, 200, 200);
    --button-text: #fff;
    --button-hover-color: rgb(170, 170, 170);
}

button[data-action='reject_request'] {
    --button-color: rgb(220, 105, 105);
    --button-text: #fff;
    --button-hover-color: rgb(189, 59, 59);
}

button[data-action='remove_friend'] {
    --button-color: #eee;
    --button-text: #333;
    --button-hover-color: #bbb;
}
