{% extends "_layout.html" %} {% from "_field.html" import render_field %} {% block title %}Log in to
HeadBook{% endblock %} {% block header %}{% endblock %} {% block content %}
<form class="login" action="/login/" method="post">
    <h1>Log in</h1>
    <dl>
        {{ form.csrf_token }} {{ render_field(form.username) }} {{ render_field(form.password) }}
    </dl>
    <p> {{ form.login }} {{ form.next }} </p
    ><a href="/login/gitlab" style="margin-block: 10px">Login with Gitlab</a
    ><a href="/signup">Dont have an account?</a></form
>

{% endblock %}
