{% extends "_layout.html" %} {% from "_field.html" import render_field %} {% block title %}Log in to
HeadBook{% endblock %} {% block header %}{% endblock %} {% block content %}
<form class="signup" action="/signup/" method="post">
    <h1>Sign-up</h1>
    <dl>
        {{ form.csrf_token }} {{ render_field(form.username) }} {{ render_field(form.password) }} {{
        render_field(form.password_again) }}
    </dl>
    <p> {{ form.signup }} {{ form.next }}</p><a href="/login">Back to login</a></form
>

{% endblock %}
